.user-table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255,255,255,.02);
}

.user-table th,
.user-table td {
  border: 1px solid rgba(255,255,255,.12);
  padding: 10px;
  text-align: right;
}

.user-table input,
.user-table select {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #aaa;
}
